.equalButton {
  width: 232px;
  height: 64px;
  background: #5D5FEF;
  border: none;
  color: #fff;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: url('../../assets/icons/cursorIcon.svg'), auto;
}