.modeSwitch {
  position: relative;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 247px;
  height: 38px;
  background: #F3F4F6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  &__mode {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: calc(50% - 3px);
    height: calc(100% - 5px);
    color: #4D5562;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.25s ease-in-out;

      .modeSwitch__icon {
        stroke-width: 2;
        margin: 0 8px 1px 0;
        z-index: 2;
      }

      .modeSwitch__icon_active {
        stroke: #5D5FEF;
      }
  }

  &__overlay {
    position: absolute;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: calc(50% - 3px);
    height: calc(100% - 5px);
    transition: all 0.25s ease-in-out;
    background: #fff;
    border: 1px solid #E2E3E5;
  }

  &__overlay_runtime {
    left: 2px
  }

  &__overlay_constructor {
    left: 50%;
  }

  &__text {
    z-index: 2;
  }
}